.card {
  cursor: pointer;
  border-radius: 3%;
}

li {
  margin-top: 6px;
}
.col {
  padding-right: 0;
  padding-bottom: 20px;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: top center;
  border: 1px solid #ddd;
}
.avatarXl {
  width: 350px;
  height: 350px;
}

ul.noBullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chip {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 15px;
  padding: 4px 13px;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 13px;
}

.chipContent {
  margin-right: 2px;
}

.col-gnome-details-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

@media screen and (max-width: 630px) {
  .col-gnome-details-1 {
    align-items: center;
  }
  .noBullets {
    text-align: center;
    width: 100%;
  }
}
